* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

#game {
  grid-column: 1 / span 7;
  justify-self: end;
}

#game-controls {
  grid-column: 8 / span 3;
  justify-self: stretch;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.game-table {
  border: 2px solid black;
}

.game-cell {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid lightgray;
}

.game-cell.cell-selected {
  background-color: #bbdefb;
}

.game-cell:nth-child(3n + 4) {
  border-left: 2px solid black;
}

.game-table tr:nth-child(3) {
  border-bottom: 2px solid black;
}

.game-table tr:nth-child(6) {
  border-bottom: 2px solid black;
}

.game-control {
  margin-bottom: 15px;
  text-align: center;
}

.game-control button {
  width: 100%;
  height: 40px;
  background-color: #e4e7ea;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(100, 100, 100, 0.2);
}
